/*
Dark Blue-Grey: #538898
Light Blue: #0eb9fe
White: 241, 241, 241
Orange-Yellow for titles!
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  min-height: 100%;  
  background: linear-gradient(black, black, navy, #1277AD) no-repeat fixed;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

#codex-container {
  display:flex;
  margin: 5% 15%;
      
  color: #A2C8D1;
  font-family: 'Orbitron', sans-serif;
}



