/*
Dark Blue-Grey: #538898
Light Blue: #0eb9fe
White: 241, 241, 241
Orange-Yellow for titles!
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html, body {
  height: 100%;  
  
}

body {
  background: linear-gradient(black, black, navy, #1277AD) no-repeat fixed;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

#codex-container {
  display:flex;
  margin: 5% 10% 5% 10%;
      
  color: #A2C8D1;
  font-family: 'Orbitron', sans-serif;
  border: solid 1px;
}

#column-1 {
  width: 50%;
  height: 100%;
  /*border: solid 1px;*/
}

#column-2 {
  width: 50%;
  height: 100%;
  /*border: solid 1px;*/
}

