/*
Dark Blue-Grey: #538898
Light Blue: #0eb9fe
White: 241, 241, 241
Orange-Yellow for titles!
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html, body {
  height: 100vh;
  margin: 0;
}

body {
  position: relative;
  background: linear-gradient(black, black, navy, #1277AD) no-repeat fixed;  
  color: #A2C8D1;
  font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

#codex-container {
  position: absolute;
  top: 5%;
  bottom: 7.5%;
  left: 10%;
  right: 10%;
  
  display:flex;
  flex-direction: column;

}

#codex-top {
  display: flex;
  height: 95%;
}

#codex-bottom {
  display: flex;
  height: 5%;
}

.codex-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.title-block {
  height: 20%;
}

.menu-button-block {
  height: 5%;
}

.menu-block {
  display:flex;
  flex-direction: column;
  position: relative;
  text-align:center;
  height: 75%;
}

.row-container {
  display: flex;
  height: 110px;
  width: 100%;
}

/*MENU BORDER */

.menu-top-row {
  height: 8px;
  width: 100%;
  background-color: #578397;

}

.menu-column-1 {
  display: flex;
  height: calc(100% - 150px);
  width: 25px;
  background-color: #1D486B;
}

.menu-column-2 {
  width: 18px;
  border-right: solid 7px transparent;
  border-top: solid 10px #1D486B;
}

.menu-column-3 {
  height: 30px;
  width: 18px;
  background-color: #1D486B;
}

.menu-connector-2 {
  width:10px;
  height:110px;
  transform: skew(45deg);
  background-color: #1D486B;
  position: absolute;
  left: calc(110px/2);
}

.menu-connector-2::before {
  content: "";
  border-top: solid 18px #1D486B;
  border-left: solid 18px transparent;
  width: 0;
  height: 0;

  transform: skew(-45deg);
  position: absolute;
  top: 0;
  left: -9px;
}

.menu-row-1 {
  width: calc(100% - 130px );
  height: 0px;
  border-top: 25px solid #1D486B;
  border-left: 25px solid transparent;
  position: absolute;
  top: calc(100% - 25px);
  left: calc(110px - 25px);
}

.menu-row-1::after {
  content: "";
  width: 15px;
  height: 25px;
  background-color: #337AA6;

  position: absolute;
  top: -25px;
  right: -17px;

}

/*COLUMN 2*/
.column-2-bg {
  height: 100%;
  position: relative;
}

.picture-block {
  position: absolute;
  height: 35%;
  width: 100%;
  /* border: solid 1px #A2C8D1;*/
  top: 0;
  left: 0;
}

.entry-block  {
  position: absolute;
  height: 65%;
  width: 100%;
  /*border: solid 1px #A2C8D1;*/
  top: 35%;
}

.bg-1 {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  background: linear-gradient(#132843, black, navy, #113A7A) no-repeat fixed; 
  top: 0;
  left: 0;
}

/*CODEX FOOTER*/

.codex-button-container {
  width: 10%;
  height: 70%;
  min-height: fit-content;
  min-width: fit-content;
  margin-top: 1%;
  margin-left: 125px;
  position: relative;

}

.codex-button {
  border: solid #A2C8D1;
  border-width: 2px 10px;
  color: #A2C8D1;
  font-family: 'Orbitron', sans-serif;  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  
  background-color: transparent;
  height: 100%;
  width: 100%;
  
  cursor: pointer;
  transition: border 0.15s,
  color 0.15s,
  background-color 0.15s;
}

.codex-button:hover {
  color: #FF9541;
  border: solid #FF9541;
  border-width: 2px 10px;
  background-color: #401F12;
}

.codex-button:hover ~ .button-top, .codex-button:hover ~ .button-bottom {
  border-right: solid 25px #FF9541;
  border-left: solid 25px #FF9541;
}


.button-border {
  height: 0;
  width: calc(100% - 70px);
  transition: border 0.15s;
  position: absolute;
  left: 10px;
  border-right: solid 25px #A2C8D1;
  border-left: solid 25px #A2C8D1;
}

.button-top {
  border-bottom: solid 5px transparent;
  top: 0;

}

.button-bottom {
  border-top: solid 5px transparent;
  bottom: 0;

}

